[Desktop Entry]
Type=Application
Name=Cursor Switcher
Comment=Choose an Uma Musume character cursor theme
Exec=/usr/bin/umao-cursor-switcher
Icon=input-mouse
Terminal=false
Categories=Settings;
